:root {
    --square-size: 20vmin;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}

#gameover {
    display: inline;
}

button {
    margin-left: 10px;
    background: rgb(165, 140, 235);
    border-style: none;
    padding: 10px;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    /* Ici j'utilise une autre unité de mesure : le viewport min
    Ca correspond à 1% de la plus petite taille du "viewport" qui est la fenetre visible.
    Si le viewport est plus large que long, alors vmin correspondra à la longeur
    Sinon, il correspondra à la largeur.*/
    grid-template-columns: repeat(3, var(--square-size));
    grid-template-rows: repeat(3, var(--square-size));
    justify-content: center;
}

/* Juste pour rendre visible les éléments de la grille */
.grid > div {
    background: rgba(0,0,0,0.1);
    border: 1px white solid;
    /* Permet de garder le texte centré en vertical peu import la font-size*/
    line-height: var(--square-size);
    font-size: 18vmin;
    /*
    Pour empêcher la sélection de texte sur les croix et les ronds
    Je n'aime pas utiliser des préfixes mais là c'est obligé
    https://caniuse.com/#search=user-select
    */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid:not(.endGame) > div:hover {
    background-color: rgb(140, 235, 140);
}

.grid:not(.endGame) > .full:hover {
    background-color: rgb(235, 146, 140);
}

.win-square {
    background-color: lightseagreen !important;
}

.player-x {
    color: brown;
}

.player-o {
    color: blue;
}